<h3>Create A Project</h3>
<form action="/<%= userName %>/projects/new" method="post">
<input type='text' placeholder='Project Name' name='projectName'/>
<input type='submit' value='create'/><br><br>
</form>