<h3>Create an Account</h3>
<form action="/signup" method="post">
	<input type='text' name='userName' placeholder='User Name'/><br><br>
	<input type='email' name='email' placeholder='Email'/><br><br>
	<input type='password' name='password' placeholder='Password'/><br><br>
	<input type="submit" value="SignUp">
</form>
